services:
  - type: web
    name: void-proxy
    runtime: node
    buildCommand: npm install
    startCommand: node src/server.js
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 10000
